/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

:root {
    --brand-color: #0061ff;
    --light-blue: #b4d0e7;
    --border-grey: #d0d0d3;
  }

button {
    background-color: var(--brand-color);
    color: white;
    border: none;
    padding: 10px 20px;
  }

.central {
    width: 1180px;
    margin: 0 auto;
}

.central-small {
    width: 1000px;
    margin: 0 auto;
}

.border {
    border: 1px solid var(--border-grey);
}

.bold {
    font-weight: 700;
}

.grey {
    color: var(--border-grey)
}

/* TYPOGRAPHY */

* {
    font-size: 16px; /* everything is 16px besides titles */
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 800;
}

p {
    line-height: 150%;
}

h3 {
    font-size: 25px;
}

/* HEADER */

header {
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    line-height: 80px;
}
  
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  
header li a {
    position: relative;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    
  }

ul button {
    margin-right: 20px;
}


/* underline that appears on hover */
  
a:not(.not-under)::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: black; 
    position: absolute;
    bottom: -2px; /* distance between the underline and the link in the navbar */
    left: 0;
  }
  
a:not(#nav-logo):hover::after {
    width: 100%;
  }

/* *********************************** */
  

a img {
    display: block;
}

/* .not-under {
    padding-bottom: 28px;
} */



/* JUMBOTRON */

.jumbo {
    width: 100%;
    background-color: var(--light-blue);
}

.jumbo-container h1 {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-right: 80px;
}

.jumbo-bottom {
    display: flex;
}

.jumbo-container .jumbo-col-left {
    width: calc(100% / 3);
    padding-right: 30px;
}

.jumbo-container .jumbo-col-left p,
.jumbo-container .jumbo-col-left button {
    margin-bottom: 40px;
}


.jumbo-container .jumbo-col-left i {
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.jumbo-col-right  {
    /* width: calc(2/3 * 100%); */
    width: 100%;
    position: relative;
}

.jumbo-col-right img {
    width: 115%;
    display: block;
    position: absolute;
}

/* MAIN */


/* FIRST SECTION */

main h2 {
    margin-top: 160px;
    font-size: 32px;
}

/* BILLING SELECTOR */

.billing-selector {
    margin-top: 80px;
    display: flex;
}

.billing-selector label {
    margin-right: 50px; 
    display: flex;
    align-items: center;
}

.billing-selector input {
    margin-right: 5px; 
}

.billing-selector input[type="radio"] {
    appearance: none;
    width: 20px; 
    height: 20px; 
    border: 1px solid var(--border-grey);
    border-radius: 50%; 
    outline: none; 
    margin-right: 5px;
    
}

.billing-selector input[type="radio"]:checked { /* Blue background color when selected */
    border: 6px solid var(--brand-color);
}

/* ***************************** */


/* ARTICLE SECTION */

.art-card {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

article {
    width: calc(100% / 3 - 20px);
    
    
}

/* article header */

.art-header {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid var(--border-grey);
}

/* article main */

.art-main {
    padding: 40px 30px;
}

.art-main button {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

section .art-main .bold + p {
    margin-bottom: 60px;
}

section .art-main h3, section .art-main p:not(.bold) {
    margin-bottom: 30px;
}

section .art-main hr {
    width: 25%;
    margin-top: 15%;
}

/* article bottom */

.art-bottom {
    padding: 55px 30px;
}

.art-bottom h4 {
    margin-bottom: 40px;
    font-weight: 700;
}

.art-bottom p {
    margin-bottom: 30px;
}


.fa-check {
    color: var(--brand-color);
}


/* last article that wraps */

article:nth-child(4) {
    flex-basis: 100%; 
}

article:nth-child(4) .art-main {
    display: flex;
    padding-bottom: 35px;
}


article:nth-child(4) .left-col-article {
    width: calc(2/3 * 100%);
    padding-right: 50px;
}

article:nth-child(4) .right-col-article {
    flex-grow: 1;
    padding-left: 50px;
}

article:nth-child(4) .left-col-article p {
margin-bottom: 0;
}

article:nth-child(4) .left-col-article .bold {
    margin-bottom: 60px;
}

article:nth-child(4) .right-col-article button {
    margin: 0 auto;
}







/* ***************************** */