/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

:root {
    --brand-color: #0061ff;
    --light-blue: #b4d0e7;
  }

  button {
    background-color: var(--brand-color);
    color: white;
    border: none;
    padding: 10px 20px;
  }

/* TYPOGRAPHY */

* {
    font-size: 16px; /* everything is 16px besides titles */
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 64px;
    font-weight: 800;
}

p {
    line-height: 150%;
}

/* HEADER */

header {
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  
a {
    position: relative;
    display: block;
    align-items: center;
    padding: 31px 20px;
    text-decoration: none;
    color: black;
    
  }

ul button {
    margin-right: 20px;
}

/* underline that appears on hover */
  
a:not(.not-under)::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: black; 
    position: absolute;
    bottom: -2px; /* distance between the underline and the link in the navbar */
    left: 0;
  }
  
a:not(#nav-logo):hover::after {
    width: 100%;
  }

/* *********************************** */
  

a img {
    display: block;
}

.not-under {
    padding-bottom: 28px;
}






/* JUMBOTRON */

.jumbo {
    width: 100%;
    background-color: var(--light-blue);
}

.jumbo-container {
    width: 1180px;
    margin: 0 auto;
}

.jumbo-container h2 {
    margin-top: 100px;
    margin-bottom: 80px;
    overflow: hidden;
}

.jumbo-bottom {
    display: flex;
}

.jumbo-container .jumbo-col-left {
    width: calc(100% / 3);
    padding-right: 30px;
}

.jumbo-container .jumbo-col-left p, button {
    margin-bottom: 40px;
}

.jumbo-container .jumbo-col-left i {
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.jumbo-col-right  {
    width: calc(2/3 * 100%);
    position: relative;
}

.jumbo-col-right img {
    width: 115%;
    display: block;
    position: absolute;
}